
<div class="container mt-5">
  <div class="d-flex justify-content-between ">
    <h3 class="text-light">My Address Book</h3></div>
    <div class="card mt-5 p-3">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>image</th>
          <th>name</th>
          <th>lastname</th>
          <th>email</th>
          <th>tel</th>
          <th>address</th>
          <th>options</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let item of contacts ; let i =index">
          <td> {{i+1}} </td>
          <td> <img style="width: 50px;" [src]="'http://127.0.0.1:3000/getimage/' + item.image " alt=""> </td>
          <td> {{item.name}}</td>
          <td> {{item.lastname}}</td>
          <td> {{item.email}} </td>
          <td> {{item.tel}}</td>
          <td> {{item.address}}</td>

          <td>
            <button class="btn btn-danger" (click)="delete(item._id)">Delete</button>
            <button class="btn btn-info ms-2" [routerLink]="['/home/update' ,item._id]"> update </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>



